# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BedsideClockUniversal/obj/ARM/Debug/App.g.cs
BedsideClockUniversal/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BedsideClockUniversal/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BedsideClockUniversal/obj/x86/Debug/App.g.i.cs
BedsideClockUniversal/obj/x86/Debug/MainPage.g.i.cs
BedsideClockUniversal/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BedsideClockUniversal/obj/x86/Debug/XamlTypeInfo.g.cs
BedsideClockUniversal/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BedsideClockUniversal/obj/x86/Debug/App.g.cs
BedsideClockUniversal/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BedsideClockUniversal/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BedsideClockUniversal/obj/x86/Debug/MainPage.g.cs
BedsideClockUniversal/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BedsideClockUniversal/obj/x86/Debug/XamlSaveStateFile.xml
BedsideClockUniversal/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
